<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>Songs</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>
<body>
 <div class="card-container">
  {% for track in tracks %}
    <div class="card">
      <img src="{{ track.image }}" alt="Album cover">
      <h3>{{ track.title }}</h3>
      <p>{{ track.artist }}</p>
      <a href="{{ url_for('detail', id=track.id) }}">
        <button>See Details</button> 
      </a>
    </div>
  {% endfor %}
</div>
</body>
</html>
